body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
span.field-validation-error {
    color: red;
    font-weight: bold;
}
/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}
    .navbar-inverse .navbar-brand {
        color: #01579b;
        font-weight: bold;
        font-size: 1.8em;
        font-style: italic;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #000000;
    }
#registerLink {
    color: #01579b;
    font-weight: bold;
    font-size: 0.9em;
}
#loginLink {
    color: #01579b;
    font-weight: bold;
    font-size: 0.9em;
}
#key {
    margin-top: 18px;
    width: 16px;
    height: 16px;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #01579b;
    border-bottom-color: #01579b;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #01579b;
    background-color: #fff;
}
.myJumbotron {
    min-height: 100vh;
    min-width: 98vw;
    align-content: center;
    padding-top: 20vh;
    background-image: url('../Images/homeBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Lato";
}

.fadedBox {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 30vw;
    min-height: 100vh;
    min-width: 100vw;
    color: snow;
    position: absolute;
    top: 3vw;
    padding-top: 20vw;
}

.heroText {
    padding-left: 20vw;
}

.rowDelayed {
    margin-top: 101vh;
}
/* PAGE SPECIFIC OVERRIDES */

.property > li {
    position: relative;
    margin-bottom: 7vh;
    background-color: cornsilk;
    width: 30vw;
}


    .property > li img {
        vertical-align: middle;
        width: 29vh;
        border-radius: 50%;
    }

.property .details {
    top: 0vh;
    left: 32vh;
    position: absolute;
}

.property > li {
    list-style: none;
    display: inline-block;
}
.btn-primary {
    color: #ffffff;
    background-color: #000;
    border-color: #fff;
}
#rgstrLink {
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
}


/* PAGE SPECIFIC OVERRIDES */
@media (min-width: 992px) {
    .col-md-2 {
        width: auto;
    }
}
#myThumbnail {
    width: 80%;
    height: 80%;
}
/*img {
    width: 85%;
    height: 85%;
    vertical-align: middle;
}*/

