
@{
    ViewBag.Title = "properties";
}
<h2>Properties</h2>
<hr>
<div class="container">
    <h3 class="mt-4 mb-3">List of Properties</h3>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Premium Homes</a>
        </li>
        <li class="breadcrumb-item active">list of properties</li>
    </ol>
    <section class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Find your dream home.</h2>
            <p class="lead text-muted">Right place to find the perfect home for you and your family.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Book Appointment</a>
            </p>
        </div>
    </section>
    <section>
        <!--Thumbnail View for Edit & Update Properties -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Images/background-img.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Images/background-img.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Images/background-img.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Images/background-img.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 </div>